header{ /* TODU: ab einer breite von 600px schaut der Header kacke aus. */
    text-align: center;
    color: #FED5D1;
    font-size: 100px;
    margin-bottom: 200px;
}
body{
    background-color: black;
    color: #FED5D1;
}
.gameBox{
    margin: auto;
    padding: 50px;
    width: 150px;
    text-align: center;
    border: medium solid #FED5D1;
}